<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6ebe1adf7c5e47a2a4d3b0682046cd87 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6ebe1adf7c5e47a2a4d3b0682046cd87" ></div>
        
</body>
<script>    
    
            var map_6ebe1adf7c5e47a2a4d3b0682046cd87 = L.map(
                "map_6ebe1adf7c5e47a2a4d3b0682046cd87",
                {
                    center: [11.956764, 79.819659],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4f2238a5662a442b8f5156896601c8e0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6ebe1adf7c5e47a2a4d3b0682046cd87);
        
    
            var circle_marker_6484bcde715642e28d6cf34dba72b3e0 = L.circleMarker(
                [11.956764, 79.819659],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 75, "stroke": true, "weight": 3}
            ).addTo(map_6ebe1adf7c5e47a2a4d3b0682046cd87);
        
    
        var popup_09b8de73f6054b95babd2daaac304170 = L.popup({"maxWidth": "100%"});

        
            var html_9e8b5686aba94ba292be0680b8d01e73 = $(`<div id="html_9e8b5686aba94ba292be0680b8d01e73" style="width: 100.0%; height: 100.0%;"></div>`)[0];
            popup_09b8de73f6054b95babd2daaac304170.setContent(html_9e8b5686aba94ba292be0680b8d01e73);
        

        circle_marker_6484bcde715642e28d6cf34dba72b3e0.bindPopup(popup_09b8de73f6054b95babd2daaac304170)
        ;

        
    
    
            var marker_d1ef96251b0d4af4acef15d4de04bc12 = L.marker(
                [11.956764, 79.819659],
                {}
            ).addTo(map_6ebe1adf7c5e47a2a4d3b0682046cd87);
        
    
        var popup_fcdc4ae3e64c40ca852b191703c63424 = L.popup({"maxWidth": "100%"});

        
            var html_e296d511090d4609b5141d6a95ef2d29 = $(`<div id="html_e296d511090d4609b5141d6a95ef2d29" style="width: 100.0%; height: 100.0%;"></div>`)[0];
            popup_fcdc4ae3e64c40ca852b191703c63424.setContent(html_e296d511090d4609b5141d6a95ef2d29);
        

        marker_d1ef96251b0d4af4acef15d4de04bc12.bindPopup(popup_fcdc4ae3e64c40ca852b191703c63424)
        ;

        
    
    
            marker_d1ef96251b0d4af4acef15d4de04bc12.bindTooltip(
                `<div>
                     
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_493115d0c83146ff9f1f70cb5faa077d = L.marker(
                [11.956764, 79.819659],
                {}
            ).addTo(map_6ebe1adf7c5e47a2a4d3b0682046cd87);
        
    
        var popup_bb98f803280c4c4f93cca351ffd712b1 = L.popup({"maxWidth": "100%"});

        
            var html_fd54b6f16e1a4c68892fd78d32537b37 = $(`<div id="html_fd54b6f16e1a4c68892fd78d32537b37" style="width: 100.0%; height: 100.0%;">bharath</div>`)[0];
            popup_bb98f803280c4c4f93cca351ffd712b1.setContent(html_fd54b6f16e1a4c68892fd78d32537b37);
        

        marker_493115d0c83146ff9f1f70cb5faa077d.bindPopup(popup_bb98f803280c4c4f93cca351ffd712b1)
        ;

        
    
    
            marker_493115d0c83146ff9f1f70cb5faa077d.bindTooltip(
                `<div>
                     bharath
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2fb5e656b14a49c495e5a90624d8e252 = L.marker(
                [11.956764, 79.819659],
                {}
            ).addTo(map_6ebe1adf7c5e47a2a4d3b0682046cd87);
        
    
        var popup_dbb059eae2a74b62986a1d8b7c97f8cf = L.popup({"maxWidth": "100%"});

        
            var html_edd59e39ad674cc2b84d7daed30d3856 = $(`<div id="html_edd59e39ad674cc2b84d7daed30d3856" style="width: 100.0%; height: 100.0%;">msd</div>`)[0];
            popup_dbb059eae2a74b62986a1d8b7c97f8cf.setContent(html_edd59e39ad674cc2b84d7daed30d3856);
        

        marker_2fb5e656b14a49c495e5a90624d8e252.bindPopup(popup_dbb059eae2a74b62986a1d8b7c97f8cf)
        ;

        
    
    
            marker_2fb5e656b14a49c495e5a90624d8e252.bindTooltip(
                `<div>
                     msd
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a90183bbe395411f8609d8867cf83ed1 = L.marker(
                [11.956764, 79.819659],
                {}
            ).addTo(map_6ebe1adf7c5e47a2a4d3b0682046cd87);
        
    
        var popup_849d4f53c3e94505beaad40f9eb5e813 = L.popup({"maxWidth": "100%"});

        
            var html_17ed9c7de264440f804cf45fc28dabee = $(`<div id="html_17ed9c7de264440f804cf45fc28dabee" style="width: 100.0%; height: 100.0%;">self</div>`)[0];
            popup_849d4f53c3e94505beaad40f9eb5e813.setContent(html_17ed9c7de264440f804cf45fc28dabee);
        

        marker_a90183bbe395411f8609d8867cf83ed1.bindPopup(popup_849d4f53c3e94505beaad40f9eb5e813)
        ;

        
    
    
            marker_a90183bbe395411f8609d8867cf83ed1.bindTooltip(
                `<div>
                     self
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dcf4648ee39d49c0adc5ee46fa9f3340 = L.marker(
                [11.945220899999999, 79.802646],
                {}
            ).addTo(map_6ebe1adf7c5e47a2a4d3b0682046cd87);
        
    
        var popup_41ceb8669abc43f7877f9dcefd27ad55 = L.popup({"maxWidth": "100%"});

        
            var html_83bf6c874be64929b146c23297dab8da = $(`<div id="html_83bf6c874be64929b146c23297dab8da" style="width: 100.0%; height: 100.0%;">gokul</div>`)[0];
            popup_41ceb8669abc43f7877f9dcefd27ad55.setContent(html_83bf6c874be64929b146c23297dab8da);
        

        marker_dcf4648ee39d49c0adc5ee46fa9f3340.bindPopup(popup_41ceb8669abc43f7877f9dcefd27ad55)
        ;

        
    
    
            marker_dcf4648ee39d49c0adc5ee46fa9f3340.bindTooltip(
                `<div>
                     gokul
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aa2130b17c554ebf8c0efd11ccee0c63 = L.marker(
                [11.818892499999999, 79.7850785],
                {}
            ).addTo(map_6ebe1adf7c5e47a2a4d3b0682046cd87);
        
    
        var popup_c77cf9847c6e4374880f3ea8212478e1 = L.popup({"maxWidth": "100%"});

        
            var html_09c18f629ef345699dae6441180f3334 = $(`<div id="html_09c18f629ef345699dae6441180f3334" style="width: 100.0%; height: 100.0%;">Aravind</div>`)[0];
            popup_c77cf9847c6e4374880f3ea8212478e1.setContent(html_09c18f629ef345699dae6441180f3334);
        

        marker_aa2130b17c554ebf8c0efd11ccee0c63.bindPopup(popup_c77cf9847c6e4374880f3ea8212478e1)
        ;

        
    
    
            marker_aa2130b17c554ebf8c0efd11ccee0c63.bindTooltip(
                `<div>
                     Aravind
                 </div>`,
                {"sticky": true}
            );
        
</script>